body {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;

    color: white;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #202020;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-app {
    background-color: #141414;

    width: 30%;
    height: max-content;
    border-radius: 10px;
    box-shadow: -1px -1px 8px black;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 40px 0;
}

.search {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
}

.search input {
    height: 20px;
    width: 60%;

    border: 0;
    outline: 0;
    padding: 7px;
    
    border-radius: 20px;
}

.search img {
    height: 15px;
    padding: 10px 12px;

    background-color: white;
    border-radius: 50%;

    cursor: pointer;
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.weather img {
    margin: 0 auto;
    height: 145px;
}

.weather h2 {
    text-align: center;
    font-size: 4rem;
    font-weight: 400;

    margin: 0;
}

.weather p {
    margin: 0;
}

.details {
    width: 100%;

    display: flex;
    justify-content: space-evenly;

    margin-top: 50px;
    margin-bottom: 10px;
}

.details img {
    margin-top: 5px;
    height: 25px;
}

.col {
    display: flex;
}

.col > div {
    margin-left: 10px;
}

.col h3 {
    margin: 0;
    font-size: 1.6rem;
}

.col p {
    width: 100%;
    text-align: center;
}